*  {
    margin:0;
    padding:0;
}

html, body {height:100%;}
/* inicio estilo header */
header{
    order: 2 1 unset;
}

header div#menu{
    height: 6.7vmin;
    background-color:#009a3d;
}

header div#menu div#links{
    text-align: center;
    padding-top: 1.8vmin;
}

header div#menu div#links a{
    text-decoration: none;
    color: white;
    padding: 2vmin;
    font-size: 2.2vmin;
    border-radius: 4px;
}

header div#menu div#links a:hover{
    background: #FF8800;
}
/* ============== fim ================= */


/* inicio estilo do corpo */
main{
    min-height:100%;
    margin: auto;
    width: 173vmin;
    background-color: #f9f9f9;
    /* background: rebeccapurple; */
}

#bandeira{
    margin-left: 5vmin;
    margin-top: 5vmin;
    width: 70vmin;
}
/* ================ fim =====================

inicio estilo das tabelas */
div#div_btns{
    text-align: end;
    margin-right: 2vmin;
    /* background: rebeccapurple; */
}

div#div_btns #bnt_cadastro{
    padding: 2vmin;
    background-color: #239e23;
    color: white;
    font-size: 2vmin;
    border-radius: 4px;
}

div#div_btns #bnt_cadastro:hover{
    cursor: pointer;
}
form#pesquisas{
    /* background: rebeccapurple; */
    margin-left: 3vmin;
    width: 60vmin;
}

form#pesquisas input{

    margin-left: 0vmin;
    /* text-align: initial;  */
}

form#pesquisas button{
    width: 14vmin;
    height: 4.6vmin;
    font-size: 2vmin;
}

legend{
    margin-top: 2vmin;
    margin-left: 4vmin;
    font-size: 3vmin;
    color: #3f3d3d;
}

legend#fieldset_cadastro{
    margin-left: 22vmin;
}

table{
    width: 168vmin;
    margin-left: 3vmin;
    font-size: 2vmin;
}

table td{
    text-align: center;
}

#span{
    color: red;
}

tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #EEE}

/* estilo da pagina de edição de data de retorno do veiculo */
main div.editar_data {
    visibility: hidden;
}

main div.editar_data form#form_data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:end;
    height: 5vmin;
    margin-top: -7.5vmin;
    margin-left: 80vmin;
}

main div.editar_data form#form_data label{
     color: #3f3d3d;
    line-height: 5vmin;
     margin-right: 0vmin; 
}


main div.editar_data form#form_data input{
    font-size: 3vmin;
    margin-left: 0vmin;
    color: #3f3d3d;
}

main div.editar_data form#form_data button{
    width: 10vmin;
    height: 6vmin;
    font-size: 2vmin;
    margin-left: -12vmin;
    
}

/* estilo de pagina de retorno de veiculos */
#retornar{
    background: rebeccapurple;
    width:10vmin; 
    height: 3vmin;
    margin-top: 0vmin;
}
#retornar button{
    height: 3vmin;
    font-size: 2vmin;
}

/* ================= end ================== */
main div#menu{
    width: 100vw;
    height: 10vmin;
    background-color: green;
}

main p{
    text-align: center;
    color: #FF8800;
    font-size: 2vmin;   
}
/* estilo para no maximo 6 inputs */
form{
    margin: auto;
    width: 96vmin;
    margin-top: 20px;
    /* background: rebeccapurple; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form select{
    width: 45.5vmin;
    height: 4.5vmin;
    padding-left: 13vmin;
    color: #707070;
}

form select option{
    text-align: center;
}
form div#inputs_right{
    margin-left: 4vmin;
}

form input{
    margin: auto;
    text-align: center;
    width: 45vmin;
    height: 4vmin;
    border-radius: 4px;
    font-size: 2vmin;
}

/* =============== END ================== */
form button{
    width: 95vmin;
    height: 6vmin;
    background-color: rgba(35, 158, 35, 0.95);
    color: white;
    border-radius: 4px;
    font-size: 3vmin;
}

footer{
    /* margin-top: 20vmin; */
    height: 5vmin;
    background-color: #e98b30
}

footer p{
    color: #f9f9f9;
    text-align: center;
    line-height: 2;
}
